/* Menu-stijl */

#menu{
	width: auto;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #FFF;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: #fafafa;
}

*html #menu li a:hover{
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a{  
	height: 10px;
	width: 150px;
}

*:first-child+html #menu ul a{ 
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
    background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.homeIcon{
    background:url('../img/home.png') no-repeat center center;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}

* html #menu{
	zoom: 1;
}

*:first-child+html #menu{
	zoom: 1;
}

/* Algemene pagina-stijl */

*{
	margin:0;
	padding:0;
}

html{
	background:url('../img/bg_tile.jpg') #333d43;
}

body{
	background:url('../img/bg_head.jpg') repeat-x top center, url('../img/bg_vert.jpg') repeat-x;
	min-height:500px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	color:#888;
	padding:10px;
}

header{
	display:block;
	margin-top:50px;
	position:relative;
}

div{
	-webkit-box-shadow: 0px 2px 15px rgba(91, 91, 91, 1);
	-moz-box-shadow: 0px 2px 15px rgba(91, 91, 91, 1);
	box-shadow: 0px 2px 15px rgba(91, 91, 91, 1);
	background-color: rgba(91, 91, 91, 0.8);
	margin-top: 15px;
	padding: 4px 10px 10px 10px;
}

p{
	color: #AAAAAA;
}

h1 {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
	color:transparent;
	text-align: center;
	-webkit-background-clip: text;
}

h2 {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1)));
	color:transparent;
	text-align: center;
	-webkit-background-clip: text;
}

a {
	color:white;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #AAAAAA;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
}

video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	background-color: black;
}

li {
	margin-left: 20px;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
}

/* Index-stijl specifiek */

.Warning {
	font-weight: bolder;
	text-align: center;
	text-decoration: underline;
}